<p>esc works!</p>

<div *ngIf="!examresult">
    <div *ngIf="!gotolearnmode">
      <button type="button" class="btn btn-outline-dark" (click)="firstQuery()">
        first
      </button>
      |
      <button type="button" class="btn btn-outline-primary" (click)="prevQuery()">
        prev
      </button>
      |
      <button type="button" class="btn btn-outline-primary" (click)="nextQuery()">
        next
      </button>
      |
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="lastQuery()"
      >
        last
      </button>
      --
      <!-- <button
    type="button"
    class="btn btn-outline-success"
    (click)="toggleAnswers(query.qid)"
  >
  correct is
  </button>
  --
  -->
      <button type="button" class="btn btn-warning" (click)="examEnd()">
        End Exam
      </button>
  
      <!-- <llceae-check-stats></llceae-check-stats> -->
  
      <p>Question: {{ query.qid }} | Typ: {{ query.qtyp }} <br /></p>
  
      <div *ngFor="let qt of query.qtxt">
        <span *ngIf="qt[0] === ' '"> _ {{ qt }} <br /> </span>
        <span *ngIf="qt[0] != ' '"> {{ qt }} <br /> </span>
      </div>
      <!-- SC -->
      <div *ngIf="query.qtyp === 'sc'">
        <div *ngFor="let ans of query.qanswers; index as ansind">
          <span *ngIf="showanswers">
            <span *ngIf="ans.correct">
              <span *ngIf="queryNrAnswersShow === query.qid" class="boldgreen">
                <input
                  type="radio"
                  (click)="ans.givenans = !ans.givenans"
                  checked
                  disabled
                />
                {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                {{ ans.givenans }}
              </span>
            </span>
            <span *ngIf="!ans.correct">
              <span *ngIf="queryNrAnswersShow === query.qid">
                <input
                  type="radio"
                  (click)="changeGivenAnswer(ansind)"
                  disabled
                />
                {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                {{ ans.givenans }}
              </span>
            </span>
            <span *ngIf="queryNrAnswersShow != query.qid">
              <input type="radio" (click)="changeGivenAnswer(ansind)" disabled />
              {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
              {{ ans.givenans }}
            </span>
          </span>
          <span *ngIf="!showanswers">
            <div *ngIf="ans.givenans">
              <input type="radio" (click)="changeGivenAnswer(ansind)" checked />
              {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
              {{ ans.givenans }}
            </div>
            <div *ngIf="!ans.givenans">
              <input type="radio" (click)="changeGivenAnswer(ansind)" />
              {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
              {{ ans.givenans }}
            </div>
          </span>
        </div>
      </div>
      <hr />
    </div>
    <div *ngIf="gotolearnmode">
      <h1>Please go to LEARN mode</h1>
      <h2>-- refueling some spirit ;) --</h2>
      <button class="btn btn-warning" routerLink="/learning">
        I go to Learn Mode!
      </button>
    </div>
  </div>
  
  <div *ngIf="examresult">
    <button
      class="btn btn-warning"
      (click)="showResultQuestions = !showResultQuestions"
    >
      Show my Exam Questions
    </button>
    <div class="statistics">
      <h1>Your Exam Result</h1>
      Number of Questions: {{ statistic.qmaxnumber }} <br />
      <ul>
        <li>You answered: {{ statistic.qanswered }} <br /></li>
        <ul>
          <li>Correct answered: {{ statistic.qcorrect }} <br /></li>
          <li>Wrong answered: {{ statistic.qwrong }} <br /></li>
        </ul>
        <li>Not answered: {{ statistic.qnotanswered }} <br /></li>
      </ul>
    </div>
  
    <button class="btn btn-warning" routerLink="/home">Ok! Back to home!</button>
  
    <!-- show exam question results correct/wrong -->
    <div *ngIf="showResultQuestions">
      <h3>Answered questions with correct/wrong answers!</h3>
      <div *ngFor="let query of ql101Scall">
        <p>Question: {{ query.qid }} | Typ: {{ query.qtyp }} <br /></p>
  
        <div *ngFor="let qt of query.qtxt">
          <span *ngIf="qt[0] === ' '"> _ {{ qt }} <br /> </span>
          <span *ngIf="qt[0] != ' '"> {{ qt }} <br /> </span>
        </div>
        <!-- SC -->
        <div *ngIf="query.qtyp === 'sc'">
          <div *ngFor="let ans of query.qanswers; index as ansind">
            <span *ngIf="showanswers">
              <span *ngIf="ans.correct && ans.givenans">
                <span class="boldgreen">
                  <input type="radio" checked disabled />
                  {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                  {{ ans.givenans }}
                </span>
              </span>
              <span *ngIf="ans.correct && !ans.givenans">
                <span class="boldblue">
                  <input type="radio" disabled checked />
                  {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                  {{ ans.givenans }}
                </span>
              </span>
  
              <span *ngIf="!ans.correct && ans.givenans">
                <span class="boldred">
                  <input type="radio" disabled />
                  {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                  {{ ans.givenans }}
                </span>
              </span>
  
              <span *ngIf="!ans.correct && !ans.givenans">
                <input type="radio" disabled />
                {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                {{ ans.givenans }}
              </span>
            </span>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
  