<body>
  <div class="navbar">
    <a routerLink="/home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Learn
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/LearnMCA">Multiple Choice</a>
        <a routerLink="/LearnSCA">Single Choice</a>
        <a routerLink="/LearnFIA">Fill In</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Check
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/CMC">Multiple Choice</a>
        <a routerLink="/CSC">Single Choice</a>
        <a routerLink="/CFI">Fill In</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Exam
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/EMC">Multiple Choice</a>
        <a routerLink="/ESC">Single Choice</a>
        <a routerLink="/EFI">Fill In</a>
      </div>
    </div>
  </div>

  <div *ngIf="!examresult">
    <div *ngIf="!gotolearnmode">
      <!-- <button type="button" class="button" (click)="firstQuery()">first</button> -->
      <button type="button" class="button" (click)="prevQuery()">prev</button>
      <button type="button" class="button" (click)="nextQuery()">next</button>
      <!-- <button type="button" class="button" (click)="lastQuery()">last</button> -->
      <button type="button" class="button" (click)="examEnd()">End Exam</button>

      <p>Question: {{ query.qid }} | Typ: {{ query.qtyp }} <br /></p>

      <div *ngFor="let qt of query.qtxt">
        <span *ngIf="qt[0] === ' '"> _ {{ qt }} <br /> </span>
        <span *ngIf="qt[0] != ' '"> {{ qt }} <br /> </span>
      </div>
      <!-- SC -->
      <div *ngIf="query.qtyp === 'sc'">
        <div *ngFor="let ans of query.qanswers; index as ansind">
          <span *ngIf="sa">
            <span *ngIf="ans.correct">
              <span *ngIf="qnas === query.qid" class="green">
                <input type="radio" (click)="ans.givenans = !ans.givenans" checked disabled />
                {{ ansind + 1 }}: {{ ans.txt }}
              </span>
            </span>
            <span *ngIf="!ans.correct">
              <span *ngIf="qnas === query.qid">
                <input type="radio" (click)="changeGivenAnswer(ansind)" disabled />
                {{ ansind + 1 }}: {{ ans.txt }}
              </span>
            </span>
            <span *ngIf="qnas != query.qid">
              <input type="radio" (click)="changeGivenAnswer(ansind)" disabled />
              {{ ansind + 1 }}: {{ ans.txt }}
            </span>
          </span>
          <span *ngIf="!sa">
            <div *ngIf="ans.givenans">
              <input type="radio" (click)="changeGivenAnswer(ansind)" checked />
              {{ ansind + 1 }}: {{ ans.txt }}
            </div>
            <div *ngIf="!ans.givenans">
              <input type="radio" (click)="changeGivenAnswer(ansind)" />
              {{ ansind + 1 }}: {{ ans.txt }}
            </div>
          </span>
        </div>
      </div>
      <hr />
    </div>
    <div *ngIf="gotolearnmode">
      <h1>Please go to LEARN mode</h1>
      <h2>-- refueling some spirit ;) --</h2>
      <button class="button" routerLink="/learning">
        I go to Learn Mode!
      </button>
    </div>
  </div>

  <div *ngIf="examresult">
    <button class="button" (click)="showResultQuestions = !showResultQuestions">
      Show my Exam Questions
    </button>
    <div class="statistics">
      <h1>Your Exam Result</h1>
      Number of Questions: {{ statistic.qmaxnumber }} <br />
      <ul>
        <li>You answered: {{ statistic.qanswered }} <br /></li>
        <ul>
          <li>Correct answered: {{ statistic.qcorrect }} <br /></li>
          <li>Wrong answered: {{ statistic.qwrong }} <br /></li>
        </ul>
        <li>Not answered: {{ statistic.qnotanswered }} <br /></li>
      </ul>
    </div>

    <button class="button" routerLink="/home">Ok! Back to home!</button>

    <div *ngIf="showResultQuestions">
      <h3>Answered questions with correct/wrong answers!</h3>
      <div *ngFor="let query of sca">
        <p>Question: {{ query.qid }} | Typ: {{ query.qtyp }} <br /></p>

        <div *ngFor="let qt of query.qtxt">
          <span *ngIf="qt[0] === ' '"> _ {{ qt }} <br /> </span>
          <span *ngIf="qt[0] != ' '"> {{ qt }} <br /> </span>
        </div>

        <div *ngIf="query.qtyp === 'sc'">
          <div *ngFor="let ans of query.qanswers; index as ansind">
            <span *ngIf="sa">
              <span *ngIf="ans.correct && ans.givenans">
                <span class="green">
                  <input type="radio" checked disabled />
                  {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                  {{ ans.givenans }}
                </span>
              </span>
              <span *ngIf="ans.correct && !ans.givenans">
                <span class="blue">
                  <input type="radio" disabled checked />
                  {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                  {{ ans.givenans }}
                </span>
              </span>

              <span *ngIf="!ans.correct && ans.givenans">
                <span class="red">
                  <input type="radio" disabled />
                  {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                  {{ ans.givenans }}
                </span>
              </span>

              <span *ngIf="!ans.correct && !ans.givenans">
                <input type="radio" disabled />
                {{ ansind + 1 }}: {{ ans.txt }} ++ {{ ans.correct }}:
                {{ ans.givenans }}
              </span>
            </span>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>