<body>
  <div class="navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/LearnMCO">Einzel Modus</a>
    <div class="dropdown">
      <button class="dropbtn">Learn
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/LearnMCA">Multiple Choice</a>
        <a routerLink="/LearnSCA">Single Choice</a>
        <a routerLink="/LearnFIA">Fill In</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Check
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/CMC">Multiple Choice</a>
        <a routerLink="/CSC">Single Choice</a>
        <a routerLink="/CFI">Fill In</a>
      </div>
    </div>
    <div class="navbar">
      <a routerLink="/EA">Exam</a>
    </div>
  </div>

  <div *ngFor="let query of mca">
    <p>Question: {{ query.qid }} | Typ: {{ query.qtyp }} <br /></p>
    <div *ngFor="let qt of query.qtxt">
      <span *ngIf="qt[0] === ' '"> _ {{ qt }} <br /> </span>
      <span *ngIf="qt[0] != ' '"> {{ qt }} <br /> </span>
    </div>
    <div *ngFor="let ans of query.qanswers; index as k">
      <span *ngIf="sa">
        <span *ngIf="ans.correct">
          <span *ngIf="qnas === query.qid" class="green">
            {{ k + 1 }}: {{ ans.txt }}
          </span>
        </span>
        <span *ngIf="!ans.correct">
          <span *ngIf="qnas === query.qid">
            {{ k + 1 }}: {{ ans.txt }}
          </span>
        </span>
        <span *ngIf="qnas != query.qid">
          {{ k + 1 }}: {{ ans.txt }}
        </span>
    </span>
      <span *ngIf="!sa"> {{ k + 1 }}: {{ ans.txt }} </span>
    </div>
    <button class="button"(click)="toggleAnswers(query.qid)">Richtig ist</button>
    <hr />
  </div>
</body>