<body>
    <div class="navbar">
        <a routerLink="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Learn
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/LearnMCA">Multiple Choice</a>
                <a routerLink="/LearnSCA">Single Choice</a>
                <a routerLink="/LearnFIA">Fill In</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Check
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/CMC">Multiple Choice</a>
                <a routerLink="/CSC">Single Choice</a>
                <a routerLink="/CFI">Fill In</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Exam
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/EMC">Multiple Choice</a>
                <a routerLink="/ESC">Single Choice</a>
                <a routerLink="/EFI">Fill In</a>
            </div>
        </div>
    </div>

    <h1 class="h2">Willkommen beim LLCE</h1>
    <p class="h1">Von hier aus kannst du dich auf deine LPIC-1 Prüfung vorbereiten.</p>
    <p></p>
    <h1 class="h2">Aufgabenstellung</h1>
    <p class="h1">Zur Festigung des, mit der Umsetzung der App "BookMonkey", erworbenen Wissens, soll eine Angular SPA programmiert
        werden. Mit dieser soll es möglich sein sich auf die Linux LPIC-1 Zertifizierungsprüfungen vorzubereiten. Die
        App soll ähnlich dem “lpisim“ sein, der zur Zeit für diese Vorbereitung bei der BITLC GmbH zur
        Prüfungssimulation eingesetzt wird, allerdings mit
        2 zusätzlichem wichtigen Ergänzungen ausgestattet werden.</p>
    <p class="h1">Diese Ergänzungen sind einmal ein Learn-Modus, der es ermöglicht sich genauer mit den Fragen und Antworten
        auseinander zu setzten und einem Check-Modus, bei dem das Gelernte direkt geprüft wird. Und natürlich enthält
        die App einen Exam-Modus, mit dem verschiedene Prüfungsszenarien durchgespielt werden können, wie das bei den
        meisten Prüfungs-Simulatoren so üblich ist.</p>
    <h2 class="h2">App-Name: LLCE App (Linux Learn/Check/Exam App)</h2>

</body>