<body>
    <div class="navbar">
        <a routerLink="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Learn
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/LearnMCA">Multiple Choice</a>
                <a routerLink="/LearnSCA">Single Choice</a>
                <a routerLink="/LearnFIA">Fill In</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Check
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a routerLink="/CMC">Multiple Choice</a>
                <a routerLink="/CSC">Single Choice</a>
                <a routerLink="/CFI">Fill In</a>
            </div>
        </div>
        <div class="navbar">
            <a routerLink="/EA">Exam</a>
        </div>
    </div>

  <h1 class="h1">Willkommen beim LLCE</h1>

  <p class="h1">Von hier aus kannst du dich auf deine Lpic 1 Prüfung vorbereiten.</p>
  <p></p>

</body>

